/* Layout
   ========================================================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Small screens (default) */
html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 100%;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #fff;
  color: #555;
}

.container {
  margin: 0 auto;
  max-width: 48rem; /* 768px */
  width: 90%;
}

/* Header
   ========================================================================== */

header {
  padding: 3em 0 2em 0;
  margin-bottom: 3rem;
  background: #00B9EE;
}

header img {
  width: 130px;
}

h1 {
  font-size: 260%;
  font-weight: 300;
  text-align: center;
  margin: 0.18em 0 0 0;
  color: #fff;
}

h2 {
  font-size: 130%;
  font-weight: 400;
  margin: 0 0 0em 0;
  padding:0;
  color: #3f4854;
  text-align: center;
}

h3 {
  font-size: 160%;
  font-weight: 400;
  margin: 0 0 0em 0;
  padding:0;
  color: #3f4854;
  text-align: center;
}

h4 {
  font-size: 140%;
  font-weight: 400;
  margin: 0 0 1em 0;
  padding:0;
  color: #3f4854;
  text-align: center;
}

h5 {
  font-size: 100%;
  font-weight: 400;
  margin: 0 0 1em 0;
  padding:0;
  color: #3f4854;
  text-align: center;
}

.tagline {
  font-size: 150%;
  font-weight: 300;
  text-align: center;
  margin: 0 0 1em 0;
  color: #fff;
  line-height: 1.3;
  padding-top: 0;
}

a {
  color: #3f4854;
}

.elements,
.directives {
  font-size: 100%;
  color: #4d5a69;
}

.action {
  text-transform: uppercase;
  text-align: center;
}

.intro {
  text-align: center;
  font-size: 110%;
  color: #707d8d;
  font-weight: 400;
}

.intro:last-of-type {
  margin: 0 0 1em 0;
}

.instructions {
  text-align: center;
  color: #707d8d;
  padding-bottom: 2rem;
}

.last-gist {
  padding-bottom: 2rem;
}

img {
  display: block;
  height: auto;
  margin: 0 auto 0 auto;
}

.usage {
  background-color: #f5f7f9;
  padding: 4rem 0 3rem 0;
  color: #707d8d;
  font-weight: 400;
  font-size: 100%;
  border-top: 1px solid rgba(182,196,209,0.3);
  border-bottom: 1px solid rgba(182,196,209,0.3);
  text-align: center;
}

.bg-light {
  padding: 4rem 0 3rem 0;
  color: #707d8d;
  font-weight: 400;
  font-size: 100%;
  border-bottom: 1px solid rgba(182,196,209,0.3);
  text-align: center;
}

.bg-dark {
  padding: 4rem 0 3rem 0;
  color: #818B9E;
  font-weight: 400;
  font-size: 100%;
  background-color: #22252C;
  text-align: center;
}

.bg-dark h3, .bg-dark thead tr th {
  color: #fff;
}

.demo {
  padding-bottom: 3rem;
}

.video-status {
  text-align: center;
  font-size: 1em;
  padding: 0.6em 0.5em;
  border: 1px solid rgba(182,196,209,0.3);
  border-radius: 2px;
  margin: 1.5em 0;
  background-color: #f5f7f9;
}

ul {
  display: inline-block;
  text-align: left;
}

/* Responsive table
   ========================================================================== */

.table-container table {
  margin: 0 auto;
  text-align: left;
  width:100%;
}

.table-container table th {
  font-weight: normal;
  text-align: left;
  font-weight: 400;
  color: #3f4854;
}

.table-container {
  width: 100%;
  overflow-y: auto;
  _overflow: auto;
  margin: 0 0 1em;
}

.table-container table th, .table-container table td {
  border: 1px solid rgba(182,196,209,0.3);
  padding: 8px 20px;
  min-width: 200px;
}

/* CSS Social Media Buttons by MediaLoot
   ========================================================================== */

/**
 * URL: http://medialoot.com/item/css-social-media-buttons
 * Designer: Tony Thomas
 */

.social {
  text-align: center;
  padding: 3rem 0 3rem 0;
  border-bottom: 1px solid rgba(182,196,209,0.3);
}

.social a {
  display:inline-block;
}

.social a:link { opacity: 1; }
.social a:hover { opacity: 0.9; }
.social a:active { opacity: 0.8; }

.social ul {
  padding: 0;
}

.social ul li {
  margin-bottom: 1em;
  list-style-type: none;
}

/*
* Font designed by MediaLoot for use in CSS3 Social Media Buttons package only.
* Please do not redistribute or share as is.
*/

@font-face {
    font-family: 'SocialGlyphs';
    src: url('../fonts/socialglyphs-webfont.eot');
    src: url('../fonts/socialglyphs-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socialglyphs-webfont.woff') format('woff'),
         url('../fonts/socialglyphs-webfont.ttf') format('truetype'),
         url('../fonts/socialglyphs-webfont.svg#SocialGlyphsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Button Styles */

.facebook {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #4f78b4;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  text-align: center;
  padding: 0.3rem 0rem;
  white-space: nowrap;
  text-decoration: none;
  width: 250px;
}

.facebook span em {
  font-size: 1.1rem;
  line-height: 1rem;
  color: #fff;
  vertical-align: super;
  font-style: normal;
}

.facebook span:before {
  content: "A";
  padding-right: 10px;
  font-family: 'SocialGlyphs';
  text-align: center;
  font-size: 1.8rem;
  line-height:1.3;
  font-weight:regular;
  color: white;
}

.twitter {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #4e9edc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  text-align: center;
  padding: 0.3rem 0rem;
  white-space: nowrap;
  text-decoration: none;
  width: 250px;
}

.twitter span em {
  font-size: 1.1rem;
  line-height: 1rem;
  color: #fff;
  vertical-align: super;
  font-style: normal;
}

.twitter span:before {
  content: "B";
  padding-right: 10px;
  font-family: 'SocialGlyphs';
  text-align: center;
  font-size: 1.8rem;
  line-height:1.3;
  font-weight:regular;
  color: white;
}

/* Download buttons
   ========================================================================== */

.downloads {
  padding: 0 0 1rem 0;
  list-style-type: none;
  text-align: center;
}

.downloads ul {
  padding: 0;
}

.downloads ul li {
  margin-bottom: 1em;
  list-style-type:none;
}

.downloads a {
  display:inline-block;
}

.downloads a:link { opacity: 1; }
.downloads a:hover { opacity: 0.9; }
.downloads a:active { opacity: 0.8; }

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #00B9EE;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  text-align: center;
  padding: 0.7rem 1.5rem;
  vertical-align: middle;
  white-space: nowrap;
  width: 250px;
  text-decoration: none;
}

/* Responsive video
   ========================================================================== */

/* @see http://www.jonsuh.com/blog/responsive-youtube-vimeo-embed-and-html5-video-with-css/ */

.js-video {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.js-video.widescreen {
  padding-bottom: 57.25%;
}

.js-video.vimeo {
  padding-top: 0;
}

.js-video embed, .js-video iframe, .js-video object, .js-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* Code
   ========================================================================== */

code {
  background-color: #f8f8f8;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ddd;
  font-family: 'Menlo', 'Monaco', Courier, monospace;
  font-size: 0.8rem;
  padding: 0.2rem 0.3rem;
  position: relative;
  top: -1px;
  white-space: nowrap;
}

.bg-dark code {
  background-color: #32353e;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #818B9E;
  font-family: 'Menlo', 'Monaco', Courier, monospace;
  font-size: 0.8rem;
  padding: 0.2rem 0.3rem;
  position: relative;
  top: -1px;
  white-space: nowrap;
}

/* Gist Overrides
   ========================================================================== */

.gist .gist-file {
  font-size: .9rem !important;
  margin: 0 auto;
  /*max-width: 39rem;*/
  overflow: hidden !important;
  text-align: left;
}

.gist pre {
  font-family: 'Menlo', 'Monaco', Courier, monospace !important;
}

.gist .gist-file .gist-data {
  background: #f8f8f8 !important;
  border-bottom: none !important;
}

.gist .gist-file .gist-meta {
  display: none !important;
}

.gist-syntax .k {
  color: #555 !important;
  font-weight: normal !important;
}

/* Footer
   ========================================================================== */

footer {
  margin: 16px;
}

footer p {
  font-size: 80%;
  margin: 0;
  text-align: center;
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 1.5rem auto;
  width: 3rem;
}

.downloads ul {
  padding-bottom: 1rem;
}

.downloads li span {
  display:block;
}

.downloads span {
  font-size: 80%;
  color: #707d8d;
}

span[itemprop] {
  font-size: 100%;
}

.video-details {;
  font-size: 80%;
}

/* Clearfix by Nicolas Gallagher
   ========================================================================== */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* Mobile First Grid
   ========================================================================== */

/* Medium screens (640px) */
@media (min-width: 40rem) {
  .column {
    float: left;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 24.95%; }
  .column.flow-opposite { float: right; }

  header img {
    width: 160px;
  }

  .intro {
    font-size: 120%;
  }

  footer p {
    font-size: 80%;
    text-align: center;
  }

  ul {
    display: inline-block;
    margin: 0;
    text-align: left;
  }

  .requirements ul {
    margin: 1rem 0;
  }

  .data section {
    text-align: center;
  }

  .social ul li,
  .downloads ul li {
    float:left;
    margin: 0 20px 20px 0;
  }

  .social ul li:last-of-type,
  .downloads ul li:last-of-type {
    margin: 0 0 20px 0;
  }
}

/* Large screens (1024px) */
@media (min-width: 64rem) {
  html { font-size: 120%; }
  .intro {
    font-size: 120%;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  
  h3 {
    font-size: 220%;
  }

  header img {
    width: 160px;
  }

  .instructions {
    padding: 0 6rem 1rem 6rem;
  }

  footer p {
    font-size: 80%;
    text-align: center;
  }
}
